/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
